<html>
    <head>
        <title>Form</title>
        <link rel="stylesheet" href="form_css.css">
    </head>
    <body style="background-color: orangered;">
        <h1 style="text-align: center;color: white;font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;">Login</h1>
        <div class="formClass">
            <form method="post" style="padding: 5px;">
                {% csrf_token %}
                <input class="inpt" type="text" name="userName" placeholder="Enter Your UserName "><br>
                <input class="inpt" type="password" name="password" placeholder="Enter Your Password"><br><br>             
                <input class="btn" type="submit" name="login" placeholder="Login" style="color: white;"><br>
            </form>

            {% for msg in messages %}
            {{msg}}
            {% endfor %}
        </div>
       
    </body>
</html>