<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register </title>
</head>
<body>
    <h1>Register Here..</h1>
    <form method="post" action="" >
        {% csrf_token %}
        <input type="text" name="username" placeholder="User Name"> <br>
        <input type="text" name="first_name" placeholder="First Name"> <br>
        <input type="text" name="last_name" placeholder="Last Name"><br>
        <input type="email" name="email" placeholder="Email"><br>
        <input type="password" name="password" placeholder="password"><br>
        <input type="password" name="password1" placeholder="Confirm Password"><br>
        <input type="submit">
    </form>
  {% for msg in messages %}
    {{msg}}
  {% endfor %}

</body>
</html>